/*home.less*/
@import (reference) 'colors.inc.less';
@import (reference) 'layout.inc.less';

/* ==================== Landing ==================== */
#landing {
    animation: daytime 20s linear infinite;
    display: block;
    background-color: @blue-lochmara;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: background 0.5s;
    z-index: 10;

    @keyframes daytime {
        0%{background-color: @blue-lochmara;}
        20%{background-color: @blue-cerulean;}
        40%{background-color: @blue-lochmara;}
        50%{background-color: @blue-midnight;}
        100%{background-color: @blue-lochmara;}
    }
}

.landing-layer {
    background-color: transparent;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: absolute;
    width: 100%;

    @media (min-width: 480px) and (min-height: 200px) {
        #lights& {
            background-image: url('../img/splash/lights.png') !important;
        }

        #tower& {
            background-image: url('../img/splash/cntower.png') !important;
        }

        #top& {
            background-image: url('../img/splash/top.png') !important;
        }
        
        #mid& {
            background-image: url('../img/splash/mid.png') !important;
        }

        #bot& {
            background-image: url('../img/splash/bot.png') !important;
        }
    }

    #lights& {
        animation: lights 20s linear infinite;
        background-image: url('../img/splash/lights_1290x1200.png');
        opacity: 0;
        z-index: 350;
    }

    @keyframes lights {
        0%, 40% {opacity: 0}
        45% {opacity: 10}
        50% {opacity: 20}
        55% {opacity: 30}
        60% {opacity: 40}
        65% {opacity: 50}
        70% {opacity: 60}
        75% {opacity: 50}
        80% {opacity: 40}
        85% {opacity: 30}
        90% {opacity: 20}
        95% {opacity: 10}
        100% {opacity: 0}
    }

    #tower& {
        background-image: url('../img/splash/cntower_1290x1200.png');
        z-index: 150;
    }

    #top& {
        background-image: url('../img/splash/top_1290x1200.png');
        z-index: 300;
    }
    
    #mid& {
        background-image: url('../img/splash/mid_1290x1200.png');
        z-index: 200;
    }

    #bot& {
        background-image: url('../img/splash/bot_1290x1200.png');
        z-index: 100;
    }

    #sun&, #moon& {
        background: none;
        background-repeat: no-repeat;
        background-size: 100%;
        left: 100vw;
        position: absolute;
        top: 100vh;
        width: 15vw;
        z-index:10;
    }

    #sun& {
        animation: sun 20s linear infinite;
        background-image:   url('../img/splash/sun.png');
    }

    #moon& {
        animation: moon 20s linear infinite;
        background-image:   url('../img/splash/moon.png');
    }

    @keyframes sun {
        0% {left: 95vw; top: 100vh}
        5% {left: 85vw; top: 70vh}
        15% {left: 75vw; top: 50vh}
        20% {left: 65vw; top: 35vh}
        25% {left: 55vw; top: 25vh}
        30% {left: 45vw; top: 20vh}
        35% {left: 35vw; top: 25vh}
        40% {left: 25vw; top: 35vh}
        45% {left: 15vw; top: 50vh}
        50% {left: 5vw; top: 70vh}
        55%, 100% {left: 0vw; top: 100vh}
    }

    @keyframes moon {
        0%, 50% {left: 95vw; top: 100vh}
        55% {left: 85vw; top: 70vh}
        60% {left: 75vw; top: 50vh}
        65% {left: 65vw; top: 35vh}
        70% {left: 55vw; top: 25vh}
        75% {left: 45vw; top: 20vh}
        80% {left: 35vw; top: 25vh}
        85% {left: 25vw; top: 35vh}
        90% {left: 15vw; top: 50vh}
        95% {left: 5vw; top: 70vh}
        100% {left: 0vw; top: 100vh}
    }
}

/* ==================== Splash ==================== */
#splash-container.landing-layer{
    z-index: 500;
}

#splash {
    background: transparent;
    border: none;
    .flex-center();
    flex-direction: column;
    height: 100%;
    text-align: center;

    @media (min-width: 400px) and (min-height: 800px) {
        &-logo {
            max-height: 35% !important;
        }
    }

    @media (min-width: 768px) and (min-height: 600px) {
        &-loc-date {
            font-size: 2.65em !important;
        }

        &-call-to-action {
            align-items: center;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
        }
    }

    &-logo {
        animation: logo 1.5s cubic-bezier(0, 0, 0.2, 1) 1;
        background-image: url('../img/splash/logo-splash.png');
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        max-height: 40%;
        width: 100%;
    }

    &-loc-date {
        animation: typing 4s steps(100, end);
        color: #fff;
        font-size: 1.65em;
        letter-spacing: 0em;
        margin: 5px auto 5px auto;
        overflow: hidden;
        white-space: nowrap;
    }

    &-call-to-action {
        animation: fadein 5s linear 1;
        display: block;
        padding: 10px;
        transition: display 2.5s;

        & .ru-btn-link .ru-btn {
            display: inline-block;
        }
    }

    &-contact {
        animation: typing 5s steps(100, end);
        color: #fff;
        font-size: 1.5em;
        overflow: hidden;
        padding: 10px 0 10px 0;
        white-space: nowrap;
        
        & .divider:after {
            content: '';
        }

        & a {
            color: @ryerson-gold;
            font-weight: 700;
            text-decoration: none;

            &:link, &:visited {
                color: @ryerson-gold;
            }

            &:active, &:hover, &:visited {
                color: @orange-web;
            }
        }
    }

    @keyframes logo {
        0% {background-position: -100%;}
        100% {background-position: center 0;}
    }

    @keyframes typing {
        0%, 50% {width: 0}
        100% {width: 100%}
    }

    @keyframes fadein {
        0%, 50%{opacity: 0}
        100% {opacity: 1}
    }
}

/* ==================== Attend ==================== */
#attend {
    background-attachment: fixed;
    background-image: url('../img/cover/image_center.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    & .ru-row {
        background: rgba(3,3,3,0.6);
    }
}

/* ==================== Schedule ==================== */
#schedule {
    & .ru-section-content-col-3 {
        width: 27vw;

        @media (max-width: 1080px) {
            & {
                width: 40vw !important;
            }
        }

        @media (max-width: 780px) {
            & {
                width: 100vw !important;
            }
        }

        & .ru-section-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 3px 10px;


        }
    }

    & .ru-schedule-time {
        border-right: 2px dotted @blue-lochmara;
        padding: 8px 15px 8px 0px;
        width: 30%;
        text-align: right;
    }

    & .ru-schedule-content {
        padding: 8px 0px 8px 15px;
        width: 50%;
    }
}

/* ==================== Location ==================== */
#location {
    background-attachment: fixed;
    background-image: url('../img/cover/eng2.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    & .ru-row {
        background: rgba(3,3,3,0.6);
    }
}

/* ==================== Sponsors/Partners ==================== */
#sponsors {
    & .ru-partner {
        padding: 10px;
    }

    & .ru-partner-wide {
        width: auto;

        @media (max-width: 780px) {
            & {
                width: 75vw !important;
            }
        }
    }
}

/* ==================== FAQ ==================== */
#faq {
    background-attachment: fixed;
    background-image: url('../img/cover/slc.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    & .ru-row {
        background: rgba(3,3,3,0.6);
    }
}

/* ==================== Social Icons ====================*/
.ru-social-icon {
    color: @white;
    font-size: 30px !important;
    padding: 10px 20px 10px 20px;
}
